@media #{$large-up} {
	header {
		@include grid-row;
		img {
			@include grid-column(6);
			display: inline-block;
			height: 90px;
			min-height: 90px;
			max-height: 90px;
			width: 350px;
			max-width: 350px;
		}
		nav {
			@include grid-column(6);
			ul {
				list-style: none;
				li {
					display: inline-block;
					a {
						text-decoration: none;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}