main {
    @include grid-row;
    background: $white;
    height: auto;
    section.goal {
        p {
            padding: 100px 0 100px 30px;
        }
    }
    .slider {
        img {
            height: 100%;
            margin: 0;
            float: right;
        }
    }
    .blue-panel {
        @include grid-column(12);
        background: $blue;
        color: $white;
        font-size: 24px;
        letter-spacing: 5px;
        line-height: 10px;
        text-align: center;
        text-transform: uppercase;
    }
}
@media #{$small-only} {
    main {
      .slider {
          @include grid-column(12, $collapse: true);
      }
      .blue-panel {
          font-size: 16px;
          line-height: 25px;
      }
    }
}
@media #{$medium-up} {
    section.goal {
        @include grid-column(6);
        p {
            font-size: 22px;
            width: 400px;
            vertical-align: middle;
        }
    }
    .slider {
        @include grid-column(6, $collapse: true);
    }
}
