$white              : #ffffff;
$black              : #333333;

// Brand Colors
$old-green              : #b6d33f;
$orange             : #b07c47;

$blue               : #243a49;
$lt-blue            : #e7f5ff;
$green              : #95da77;
$dk-green           : #88cc6b;

$body-bg            :  $green; 
