header {
  @include grid-row;
  img {
    display: inline-block;
    padding: 2em 0;
  }
  nav {
    @include grid-row;
    background: darken($white, 5%);
    margin-top: -1em;
    ul {
      @include grid-column(10, $push: .4, $center: true);
      list-style: none;
      li {
        display: block;
        margin-right: 1px;
        float: left;
      }
      a {
        display: inline-block;
        color: $blue;
        padding: .5em 1em .5em 1.5em;
        font-size: 18px;
        font-weight: 200;
        letter-spacing: 10px;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          background: $blue;
          color: $white;
          transition: background 300ms ease-in;
        }
      }
    }
  }
}
@media #{$small-only} {
  header {
    img {
      max-width: 100%;
    } 
    nav {
      ul {
        @include grid-column(12);
        a {
          display: inline;
        }
      }
    }
  }
}
@media #{$medium-up} {
  header {
    img {
      display: block;
      margin: 0 auto;
    } 
  }
}
