header {
  @include grid-row;
  img {
    display: inline-block;
    padding: 1em 0;
  }
  nav {
    @include grid-row;
    background: darken($white, 5%);
    margin-top: -1em;
    ul {
      @include grid-column(8, $center: true);
      list-style: none;
      padding: 0 0 1em 0;
      li {
        display: block;
        margin-bottom: 1em;
        padding-top: 1em;
        // background: $blue;
        float: left;
        a {
          padding: 0 .3em;
          color: $blue;
          font-size: 18px;
          font-weight: 200;
          letter-spacing: 10px;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}
@media #{$small-only} {
  header {
    img {
      max-width: 100%;
    } 
  }
}
@media #{$medium-up} {
  header {
    img {
      display: block;
      margin: 0 auto;
    } 
  }
}
