section.numbers-panel {
	@include grid-row;
	text-align: center;
	line-height: 5px;
	section {
		&.cincinnati {
			background: darken($white, 5%);
		}
		&.columbus {
			background: darken($white, 10%);
		}
		&.dayton {
			background: darken($white, 15%);
		}
	}
}
@media #{$small-only} {
  section.numbers-panel {
  	section {
		@include grid-column(12);
  	}
  }	
}
@media#{$medium-up} {
  section.numbers-panel {
  	section {
		@include grid-column(4);
  	}
  }	
}