section.numbers-panel {
	@include grid-row;
	text-align: center;
	line-height: 4px;
	color: $blue; 
	h2 {
		font-weight: 400;
	}
	h3 {
		font-weight: 200;
	}
	section {
		&.cincinnati {
			background: darken($white, 5%);
		}
		&.columbus {
			background: darken($white, 10%);
		}
		&.dayton {
			background: darken($white, 15%);
		}
	}
}
@media #{$small-only} {
  section.numbers-panel {
  	section {
		@include grid-column(12);
  	}
  }	
}
@media#{$medium-up} {
  section.numbers-panel {
  	section {
		@include grid-column(4);
  	}
  }	
}