main {
  @include grid-row;
  .intro {
    @include grid-column(8);
    background: yellow;
    height: 350px;
    h1 {
      font-size: 46px;
      color: orange;
    }
  }
  img {
    @include grid-column(4, $collapse: right);
    height: 350px;
  }
}
